<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Formulário de cadastro de Notícia</title>
    </head>
<body>
    <h1>Adicionar notícia</h1>
    <form action="noticia/salvar" method="post">
        <label for="">Titulo</label><br>
        <input type="text" id="titulo" name="titulo" value = "<%= noticia.titulo%>" placeholder="titulo da noticia..."><br>
          
        <label for="">Resumo</label><br>
        <input type="text" id="resumo" name="resumo"placeholder="resumo da noticia"value = "<%= noticia.resumo%>"><br>
        
        <label for="">Nome do Autor</label><br>
        <input type="text" id="autor" name="autor"value = "<%= noticia.autor%>"><br>
        
        <label for="">Data dos fatos</label>
        <input type="date" id="data_noticia" name="data_noticia" placeholder="Data da noticia..."value = "<%= noticia.data_noticia%>"><br>
        
        <label for="">Noticia</label><br>
        <textarea name="noticia" id="noticia" cols="30" rows="5"><%= noticia.noticia%></textarea><br>
        
        <input type="submit" value="Enviar">
    </form>
       <!-- Possiveis erros -->
        <% if (validacao){ %>
        <ul>
           <% for (var i=0;i<validacao.length;i++) { %>
                <li>
                    <%= validacao[i].msg %>
                </li>
            <% } %>
        </ul>
    <% } %>
    
</body>
</html>